[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "==2.3.1"
pydantic = "*"
kagglehub = "*"
jupyterlab = "*"
python-dotenv = "==1.1.1"

[dev-packages]

[requires]
python_version = "3.12"
